REACT_APP_CANDY_MACHINE_ID=DRQcsZQDat6h24AA9k1s8FDRhpeF1wtUzorv72drQQMX

REACT_APP_SOLANA_NETWORK=devnet
REACT_APP_SOLANA_RPC_HOST=https://solana-devnet.g.alchemy.com/v2/aWeZpO3NLUB1qiYez89ELMGDDeAh5sdw
SKIP_PREFLIGHT_CHECK=true
